*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-family: "Work Sans", sans-serif;
  line-height: 1.2;
  padding: 0;
  box-sizing: border-box;
  background-color: #f85959;
  color: #7c203a;
  text-align: justify; }

.menu-bar a {
  font-size: 1.8rem;
  color: #feff89;
  text-decoration: none;
  list-style-type: none;
  font-weight: 200; }

.home-page__text {
  font-family: "Roboto", sans-serif;
  font-size: 19rem;
  text-transform: uppercase; }

.page-heading {
  font-family: "Roboto", sans-serif;
  font-size: 9rem;
  text-transform: uppercase; }

.down-arrow {
  display: flex; }
  .down-arrow_home, .down-arrow_work {
    color: #7c203a; }
  .down-arrow_about, .down-arrow_contact {
    color: #f85959;
    background-color: #7c203a; }

.fa-caret-down {
  font-size: 3rem;
  margin: 0 auto .5rem auto;
  height: 5vh; }

.menu-bar {
  height: 8vh;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  background-color: #f85959; }
  .menu-bar a {
    padding: 0.5rem 0.2rem; }
    .menu-bar a:hover {
      border-bottom: 0.2rem solid #feff89;
      transition: all 0.07s ease-out;
      -webkit-transition: all 0.07s ease-out; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.home-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; }

.about-page {
  background-color: #7c203a;
  color: #f85959;
  height: 100vh;
  font-size: 2rem;
  display: flex;
  align-items: center; }
  .about-page__photo {
    width: 60%;
    border-radius: 2px; }

.work-page {
  height: 100vh; }

.contact-page {
  background-color: #7c203a;
  color: #f85959;
  height: 100vh; }
