*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  overflow-x: hidden; }

html {
  font-size: 62.5%; }
  @media (max-width: 53.125em) {
    html {
      font-size: 50%; } }
  @media (max-width: 68.75em) {
    html {
      font-size: 56.25%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  font-family: "Work Sans", sans-serif;
  line-height: 1.2;
  padding: 0;
  box-sizing: border-box;
  background-color: #f85959;
  color: #7c203a;
  text-align: justify; }

ul {
  list-style: none; }

.menu-bar {
  height: 8vh;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  background-color: #f85959; }
  .menu-bar a {
    font-size: 1.9rem;
    color: #7c203a;
    text-decoration: none;
    list-style-type: none;
    font-weight: 300;
    padding: 1.5rem 0.2rem 0.3rem 0.2rem; }
    .menu-bar a:hover {
      text-decoration: underline;
      transition: all 0.07s ease-out;
      -webkit-transition: all 0.07s ease-out; }

.page-heading {
  font-family: "Roboto", sans-serif;
  font-size: 9rem;
  text-transform: uppercase;
  padding: 4rem 0 2rem 3rem;
  height: 30vh; }
  @media (max-width: 37.5em) {
    .page-heading {
      height: 20vh;
      font-size: 8rem; } }

.home-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92vh; }
  @media (max-width: 68.75em) {
    .home-page {
      height: 55vh; } }
  @media (max-width: 53.125em) {
    .home-page {
      height: 50vh; } }
  @media (max-width: 37.5em) {
    .home-page {
      height: 60vh; } }
  .home-page__text {
    font-family: "Roboto", sans-serif;
    font-size: 19rem;
    text-transform: uppercase; }
    @media (max-width: 68.75em) {
      .home-page__text {
        font-size: 16rem; } }
    @media (max-width: 53.125em) {
      .home-page__text {
        font-size: 11rem; } }
    @media (max-width: 37.5em) {
      .home-page__text {
        font-size: 7rem; } }

.about-page {
  background-color: #7c203a;
  color: #f85959;
  height: 100vh; }
  @media (max-width: 68.75em) {
    .about-page {
      height: 70vh; } }
  @media (max-width: 53.125em) {
    .about-page {
      height: 55vh; } }
  @media (max-width: 37.5em) {
    .about-page {
      height: 100vh; } }
  @media (max-width: 68.75em) {
    .about-page h2 {
      height: 20vh; } }
  .about-page__content {
    display: flex;
    justify-content: center;
    align-items: center; }
  .about-page__text {
    font-weight: 400;
    font-size: 3rem;
    text-align: justify;
    padding: 5rem 4rem; }
    @media (max-width: 68.75em) {
      .about-page__text {
        padding: 3rem 4rem; } }
    @media (max-width: 53.125em) {
      .about-page__text {
        padding: 1rem 4rem; } }
    @media (max-width: 37.5em) {
      .about-page__text {
        font-size: 2.8rem; } }

.work-page {
  height: 100vh; }
  @media (max-width: 68.75em) {
    .work-page {
      height: 70vh; } }
  @media (max-width: 53.125em) {
    .work-page {
      height: 55vh; } }
  @media (max-width: 37.5em) {
    .work-page {
      height: 75vh; } }
  @media (max-width: 68.75em) {
    .work-page h2 {
      height: 20vh; } }
  @media (max-width: 53.125em) {
    .work-page h2 {
      height: 15vh; } }
  @media (max-width: 37.5em) {
    .work-page h2 {
      height: 18vh;
      overflow: hidden; } }
  .work-page__flex-grid {
    display: flex;
    align-items: center; }
    .work-page__flex-grid-col {
      display: flex;
      width: 33.33%;
      border: 1px solid #f85959;
      overflow: hidden; }
  .work-page__project {
    display: flex;
    position: relative; }
    .work-page__project-img {
      max-width: 100%;
      max-height: auto;
      display: block;
      transform: scale(1.1);
      object-fit: cover;
      box-sizing: border-box;
      margin: 0;
      overflow: hidden;
      transition: all .5s;
      backface-visibility: hidden; }
    .work-page__project-caption {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, 50%);
      color: whitesmoke;
      font-size: 1.7rem;
      text-align: justify;
      opacity: 0;
      transition: all .5s;
      backface-visibility: hidden; }
    .work-page__project:hover .work-page__project-caption {
      opacity: 1;
      transform: translate(-50%, -50%); }
    .work-page__project:hover .work-page__project-img {
      transform: scale(1);
      filter: blur(4px) brightness(80%); }

.contact-page {
  background-color: #7c203a;
  color: #f85959;
  height: 100vh; }
  @media (max-width: 68.75em) {
    .contact-page h2 {
      height: 20vh; } }
  @media (max-width: 53.125em) {
    .contact-page h2 {
      height: 15vh; } }
  @media (max-width: 37.5em) {
    .contact-page h2 {
      height: 20vh; } }
  .contact-page__text {
    font-weight: 400;
    font-size: 5rem;
    text-align: left;
    padding: 5rem 4rem; }
    @media (max-width: 37.5em) {
      .contact-page__text {
        font-size: 3.5rem;
        text-align: justify; } }
  .contact-page__link {
    font-weight: 700;
    color: inherit;
    text-decoration: none; }
    .contact-page__link:hover {
      border-bottom: 0.5rem solid #f85959;
      transition: all 0.07s ease-out;
      -webkit-transition: all 0.07s ease-out; }
