// PAGE HEADINGS
.page-heading {
    font-family: "Roboto", sans-serif;
    font-size: 9rem;
    text-transform: uppercase;
    padding: 5rem 0 2rem 3rem;
}

/////////////////////////////////////////////
// HOME PAGE
.home-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 92vh;

    &__text {
        font-family: "Roboto", sans-serif;
        font-size: 19rem;
        text-transform: uppercase;

        @include respond(tab-land) {
            font-size: 16rem;
        }

        @include respond(tab-port) {
            font-size: 11rem;
        }

        @include respond(phone) {
            font-size: 7rem;
        }
    }
}

/////////////////////////////////////////////
// ABOUT PAGE
.about-page {
    background-color: $color-secondary;
    color: $color-primary;
    height: 100vh;
    font-size: 2rem;
    font-weight: 300;

    &__content {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__text {
        width: 30%;
        margin-right: 30rem;

        @include respond(tab-land) {
            width: 40%;
            margin-right: 20rem;

        }

        // @include respond(tab-port) {
        //     font-size: 18rem;
        // }

        // @include respond(phone) {
        //     font-size: 12rem;
        // }
    }

    &__photo {
       width: 25%;
       border-radius: 2px;
    }
}

/////////////////////////////////////////////
// WORK PAGE
.work-page {
    height: 100vh;

    &__flex-grid {
        display: flex;
        align-items: center;

        .col {
            display: flex;
            width: 33.33%;
            height: 21.7rem;
            border: 1px solid $color-primary;
            background-color: $color-secondary;
        }
    }
    
    &__project-img {
        max-height: 100%;
        max-width: auto;
        display: block;
        object-fit: cover;
        overflow: hidden;
    }
}

/////////////////////////////////////////////
// CONTACT PAGE
.contact-page {
    background-color: $color-secondary;
    color: $color-primary;
    height: 100vh;

    &__text {
        font-weight: 400;
        font-size: 5rem;
        text-align: left;
        padding: 2rem 0 0 3rem;
    }

    &__link {
        font-weight: 700;
        color: inherit;
        text-decoration: none;

        &:hover {
            border-bottom: .5rem solid $color-primary;
            transition: all 0.07s ease-out;
            -webkit-transition: all 0.07s ease-out;
        }
    }
}