// PAGE HEADINGS
.page-heading {
  font-family: "Roboto", sans-serif;
  font-size: 9rem;
  text-transform: uppercase;
  padding: 4rem 0 2rem 2rem;
  height: 30vh;
  overflow: hidden;

  @include respond(tab-land) {
    height: 25vh;
  }

  @include respond(tab-port) {
    height: 20vh;
  }

  @include respond(phone) {
    font-size: 8rem;
  }
}

/////////////////////////////////////////////
// HOME PAGE
.home-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92vh;

  &__text {
    font-family: "Roboto", sans-serif;
    font-size: 19rem;
    text-transform: uppercase;

    @include respond(tab-port) {
      font-size: 14rem;
    }

    @include respond(phone) {
      font-size: 7rem;
    }
  }
}

/////////////////////////////////////////////
// ABOUT PAGE
.about-page {
  background-color: $color-secondary;
  color: $color-primary;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  & p {
    font-weight: 400;
    font-size: 4rem;
    text-align: justify;
    padding: 0 6rem 2rem 3rem;

    @include respond(tab-land) {
      font-size: 4.7rem;
    }

    @include respond(tab-port) {
      padding-top: 2.5rem;
      font-size: 5rem;
    }

    @include respond(phone) {
      font-size: 2.3rem;
    }
  }
}

/////////////////////////////////////////////
// WORK PAGE
.work-page {
  height: 103vh;

  @include respond(tab-land) {
    height: 82vh;
  }

  @include respond(tab-port) {
    height: 64vh;
  }

  @include respond(phone) {
    height: 120vh;
  }

  &__grid {
    &-container {
      display: grid;
      grid-template-columns: repeat(3, minmax(120px, 1fr));
      grid-gap: 1rem;
      margin: 0 1rem 0.5rem 1rem;

      @include respond(phone) {
        grid-template-columns: repeat(2, minmax(120px, 1fr));
      }
    }

    &-item {
      overflow: hidden;
    }
  }

  &__project {
    display: flex;
    position: relative;

    &-img {
      max-width: 100%;
      max-height: auto;
      display: block;
      transform: scale(1.1);
      object-fit: cover;
      box-sizing: border-box;
      margin: 0;
      overflow: hidden;
      transition: all 0.5s;
      backface-visibility: hidden;

      @include respond(tab-land) {
        transform: scale(1);
        filter: blur(3px) brightness(80%);
      }

      @include respond(phone) {
        transform: scale(1.2);
      }
    }

    &-caption {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, 50%);
      color: whitesmoke;
      font-size: 1.7rem;
      text-align: justify;
      opacity: 0;
      transition: all 0.5s;
      backface-visibility: hidden;

      @include respond(tab-land) {
        backface-visibility: visible;
        opacity: 1;
        top: 40%;
        left: 0;
        padding: 0 1.2rem;
        transform: initial;
      }

      @include respond(phone) {
        top: 30%;
      }
    }

    &:hover &-caption {
      opacity: 1;
      transform: translate(-50%, -50%);

      @include respond(tab-land) {
        transform: translate(0, 0);
      }
    }

    &:hover &-img {
      transform: scale(1);
      filter: blur(4px) brightness(80%);
    }
  }
}

/////////////////////////////////////////////
// CONTACT PAGE
.contact-page {
  background-color: $color-secondary;
  color: $color-primary;
  height: 100vh;

  @include respond(tab-land) {
    height: 66vh;
  }

  @include respond(tab-port) {
    height: 60vh;
  }

  &__text {
    font-weight: 400;
    font-size: 6rem;
    text-align: left;
    padding: 5rem 2rem;

    @include respond(tab-land) {
      font-size: 6rem;
    }

    @include respond(phone) {
      font-size: 3.5rem;
      text-align: justify;
    }
  }

  &__link {
    font-weight: 700;
    color: inherit;
    text-decoration: none;

    &:hover {
      border-bottom: 0.5rem solid $color-primary;
      transition: all 0.07s ease-out;
      -webkit-transition: all 0.07s ease-out;
    }
  }
}
