.down-arrow {
    display: flex;

    &_home &_work {
        color: $color-secondary;
    }

    &_about &_contact {
        color: $color-primary;
        background-color: $color-secondary;
    }
}

.fa-caret-down {
    font-size: 3rem;
    margin: 0 auto .5rem auto;
    height: 5vh;
}