body {
    font-family: "Work Sans", sans-serif;
    line-height: 1.2;
    padding: 0;
    box-sizing: border-box;
    background-color: $color-primary;
    color: $color-secondary;
    text-align: justify;
}

.page-heading {
    font-family: "Roboto", sans-serif;
    font-size: 9rem;
    text-transform: uppercase;
}

.menu-bar {
    a {
        font-size: 1.8rem;
        color: $color-tertiary;
        text-decoration: none; 
        list-style-type: none;
        font-weight: 200;
    }  
}

.home-page { 
    &__text {
        font-family: "Roboto", sans-serif;
        font-size: 19rem;
        text-transform: uppercase;
    }
}

.contact-page {
    &__text {
        font-weight: 400;
        font-size: 5rem;
        text-align: left;
    }
}