.contact-page {
    background-color: $color-secondary;
    color: $color-primary;
    height: 100vh;
    padding: 10rem 3rem;

    &__text {

        a {
            color: inherit;
            text-decoration: none;
        }
    }
}