.aboutText {
    margin: 1em 2em;
    padding-left: 4em;
    padding-top: 1em;
    text-align: justify;
    flex-grow: 2;
}

.aboutPhoto {
    margin: 2em;
    align-self: center;
}

p {
    line-height: 1.4em;
}