/* Resetting the browser's default CSS styles */

html, body, h1, h2, h3, h4, p, div, a, ul, li {
	padding:0;
	border:0;
	margin:0;
	font:inherit;
	font-size:100%;
}

/* Applying layout wrapper (in Flexbox) for the whole page */

.site {
	display: flex-inline;
	min-height: 100vh;
	flex-direction: column;
}

/* Set background colour */

body {
    background-color: #4D3CD0;
}

/* Nav bar layout */

.menu-container {
    height: 65px;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.icon {
    width: 80px;
    text-align: center;
    flex-grow: 1.2;
}

.icon i {
    padding: 10px 15px 0 15px;
}

.menu-left, .menu-right {
    flex-grow: 1;
    text-align: center;
    height: 35px;
    margin-top: 30px; 
}

/* Nav bar text styles */

a, i {
    font-family: 'Work Sans', sans-serif;
	font-size: 1em;
    color: whitesmoke;
    text-decoration: none; 
    list-style-type: none;
    font-weight: 100;
}

/* Main body layout */

.mainBody {
    display: flex;
    min-height: 560px;
}

/* Main text layout */

.mainText {
    justify-content: center;
    align-items: center;
}

/* Main Text stylings */

h1 {
    color: #AFEEED;
    font-family: 'Roboto', sans-serif;
    font-size: 250px;
    font-weight: 900;
    margin: auto;
}

/*  Uppercasing */

a, i, h1, h2 {
    text-transform: uppercase;
}

.belowFold {
    background-color: #AFEEED;
    min-height: 625px;
    display: flex;
}

h2 {
    color: #4D3CD0;
    font-family: 'Roboto', sans-serif;
    font-size: 100px;
    font-weight: 700;
    margin: auto;
}

p {
    font-family: 'Work Sans', sans-serif;
	font-size: 1.1em;
    color: #010101;
    text-decoration: none; 
    list-style-type: none;
    font-weight: 300;
}