.contactText {
    margin: 1em 2em;
    padding-left: 2em;
    padding-top: 1em;
    text-align: justify;
}

.contact a {
    border-bottom: 2px solid #AFEEED;
    }

/* Media Queries */

@media (max-width: 1160px) {
    h1 {
        font-size: 150px;
    }
}

@media (max-width: 745px) {
    h1 {
        font-size: 100px;
    }
}

@media (max-width: 530px) {
    h1 {
        font-size: 85px;
    }
}